* {
  margin: 0;
  padding: 0;
}

body,
header,
footer {
  padding: 5%;
}

img,
embed,
object,
svg,
video {
  max-width: 100%;
}

hr {
  border: 0.0625em solid #2d3c49;
  margin: 2em auto;
}

.my-name {
  text-transform: uppercase;
  float: right;
  font-size: 1.8em;
}

.name-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.ninja {
  font-size: 0.5em;
  float: right;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.featured {
  color: #7d97ad;
  text-transform: capitalize;
  /* margin-top: 3em; */
  float: left;
}

.img-projects {
  width: 27%;
  jungheight: auto;
  order: 2;
}

.figure-width {
  width: 27.33%;
}

.img1,
.img2 {
  margin-right: 5%;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
}
