.footer,
ul {
  display: flex;
  flex-direction: column;
}

.figure-width {
  width: 100%;
}

.my-name {
  text-transform: uppercase;
  float: right;
  font-size: 1.8em;
  align-self: flex-end;
}

.logo {
  color: #00bfff;
}

.name-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
